<main class="home-layout">
  <app-home-sidebar></app-home-sidebar>

  <section class="main-area">
    <app-home-header></app-home-header>

    <div id="buscar" class="search-strip">
      <p>Buscar en catalogo</p>
      <input type="text" placeholder="Titulo, autor o categoria" />
      <button type="button">Explorar</button>
    </div>

    <section class="content-grid">
      <div>
        <app-home-hero></app-home-hero>
        <app-home-book-grid></app-home-book-grid>
      </div>
      <app-home-side-panel></app-home-side-panel>
    </section>
  </section>
</main>
